<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net461" />
  <package id="NuGet.Client" version="4.0.0" targetFramework="net461" />
  <package id="NuGet.Common" version="4.0.0" targetFramework="net461" />
  <package id="NuGet.ContentModel" version="4.0.0" targetFramework="net461" />
  <package id="NuGet.Frameworks" version="4.0.0" targetFramework="net461" />
  <package id="NuGet.Packaging" version="4.0.0" targetFramework="net461" />
  <package id="NuGet.Packaging.Core" version="4.0.0" targetFramework="net461" />
  <package id="NuGet.Packaging.Core.Types" version="4.0.0" targetFramework="net461" />
  <package id="NuGet.Repositories" version="4.0.0" targetFramework="net461" />
  <package id="NuGet.RuntimeModel" version="4.0.0" targetFramework="net461" />
  <package id="NuGet.Versioning" version="4.0.0" targetFramework="net461" />
  <package id="NUnit" version="2.6.4" targetFramework="net40" />
</packages>