<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="NUnit">
      <section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SIL.Windows.Forms.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <NUnit>
	  <!-- This is needed because we use the web control, and it requires a single-threaded apartment -->
	  <TestRunner>
      <add key="ApartmentState" value="STA"/>
    </TestRunner>
  </NUnit>
  <userSettings>
    <SIL.Windows.Forms.Tests.Properties.Settings>
      <setting name="TestString" serializeAs="String">
        <value/>
      </setting>
      <setting name="AnotherTest" serializeAs="String">
        <value/>
      </setting>
    </SIL.Windows.Forms.Tests.Properties.Settings>
  </userSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup>
</configuration>