<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
	<application>
	  <channels>
		<channel ref="http" port="5555" >
		  <serverProviders>
			<formatter
				type="CookComputing.XmlRpc.XmlRpcServerFormatterSinkProvider, CookComputing.XmlRpcV2"
			/>
		  </serverProviders>
		</channel>
	  </channels>
	</application>
  </system.runtime.remoting>
</configuration>