output/
Thumbs.db
.bzr/
obj/
bin/
test-results/
*.suo
*.resharper
*.user
_ReSharper.*
config/
*.pidb
*.userprefs
*.nunit
*.usertasks
*~
*.resources
$(Configuration)
nant.resx.bak
lib/DebugMono/icu*40.dll
lib/*/icu.net.dll.config
*.lnk
CopyTo*.bat
*.orig
L10NSharp.*
*.pdb
*.ncrunchproject
*.ncrunchsolution
.nuget/NuGet.exe
*.cache
Download/
