output/
Thumbs.db
.bzr/
obj/
bin/
bin-Designer/
test-results/
*.suo
*.resharper
*.user
_ReSharper.*
config/
*.pidb
*.userprefs
*.nunit
*.usertasks
*~
*.resources
$(Configuration)
nant.resx.bak
lib/*/icu*5*.dll
lib/*/icu.net.dll
lib/*/icu.net.dll.config
lib/*/taglib-sharp.dll
lib/*/Spart.dll
*.lnk
CopyTo*.bat
*.orig
L10NSharp.*
*.pdb
*.ncrunchproject
*.ncrunchsolution
build/nuget.exe
*.cache
Download/
*.nupkg
packages/
lib/xulrunner/
.idea/
icu4c.readme.txt

.vs/
