<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Reporting.ReportingSetting" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<Reporting.ReportingSetting>
			<setting name="Launches" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="Identifier" serializeAs="String">
				<value />
			</setting>
			<setting name="LastLaunchDate" serializeAs="String">
				<value />
			</setting>
		</Reporting.ReportingSetting>
	</userSettings>
</configuration>