<?xml version="1.0" encoding="utf-8" ?>
<!-- This is needed because we use the web control, and it requires a single-threaded apartment -->
<configuration>
  <configSections>
	<sectionGroup name="NUnit">
	  <section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
	</sectionGroup>
  </configSections>

  <NUnit>
	<TestRunner>
	  <add key="ApartmentState" value="STA" />
	</TestRunner>
  </NUnit>
</configuration>