<?xml version="1.0"?>
<configuration>
	<dllmap dll="libgdk-x11-2.0" target="libgdk-x11-2.0.so.0"/>
	<dllmap dll="libgtk-x11-2.0" target="libgtk-x11-2.0.so.0"/>
	<dllmap dll="libxklavier" target="libxklavier.so.16"/>
	<dllmap dll="libgobject-2.0-0.dll" target="libgobject-2.0.so.0"/>
	<dllmap dll="libdconf.dll" target="libdconf.so.1"/>
	<!-- Even explicit .so references need a mapping for versioning. -->
	<!-- (The unversioned links are part of -dev packages usually. -->
	<dllmap dll="libgio-2.0.so" target="libgio-2.0.so.0"/>
	<dllmap dll="libglib-2.0.so" target="libglib-2.0.so.0"/>
	<dllmap dll="libgobject-2.0.so" target="libgobject-2.0.so.0"/>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Palaso.UI.WindowsForms.Registration.Registration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="Palaso.UI.WindowsForms.SettingProtection.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="Palaso.UI.WindowsForms.SettingProtection.SettingsProtection" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="Palaso.UI.WindowsForms.SettingProtection.ProtectionConfiguration" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="Palaso.UI.WindowsForms.ImageToolboxSettings.ImageToolboxSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<Palaso.UI.WindowsForms.Registration.Registration>
			<setting name="FirstName" serializeAs="String">
				<value />
			</setting>
			<setting name="Surname" serializeAs="String">
				<value />
			</setting>
			<setting name="Email" serializeAs="String">
				<value />
			</setting>
			<setting name="Organization" serializeAs="String">
				<value />
			</setting>
			<setting name="HowUsing" serializeAs="String">
				<value />
			</setting>
			<setting name="LaunchCount" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="NeedUpgrade" serializeAs="String">
				<value>True</value>
			</setting>
		</Palaso.UI.WindowsForms.Registration.Registration>
		<Palaso.UI.WindowsForms.SettingProtection.Settings1>
			<setting name="SettingRequirePassword" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="NormallyHidden" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="NeedUpgrade" serializeAs="String">
				<value>False</value>
			</setting>
		</Palaso.UI.WindowsForms.SettingProtection.Settings1>
		<Palaso.UI.WindowsForms.SettingProtection.SettingsProtection>
			<setting name="RequirePassword" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="NormallyHidden" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="NeedUpgrade" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="test" serializeAs="String">
				<value />
			</setting>
		</Palaso.UI.WindowsForms.SettingProtection.SettingsProtection>
		<Palaso.UI.WindowsForms.SettingProtection.ProtectionConfiguration>
			<setting name="RequirePassword" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="NormallyHidden" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="NeedUpgrade" serializeAs="String">
				<value>True</value>
			</setting>
		</Palaso.UI.WindowsForms.SettingProtection.ProtectionConfiguration>
		<Palaso.UI.WindowsForms.ImageToolboxSettings.ImageToolboxSettings>
			<setting name="LastImageFolder" serializeAs="String">
				<value/>
			</setting>
		</Palaso.UI.WindowsForms.ImageToolboxSettings.ImageToolboxSettings>
	</userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
