<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SIL.Windows.Forms.ImageToolbox.ImageToolboxSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="SIL.Windows.Forms.Progress.LogBoxSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="SIL.Windows.Forms.SettingProtection.SettingsProtectionSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="SIL.Windows.Forms.Registration.Registration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SIL.Windows.Forms.ImageToolbox.ImageToolboxSettings>
            <setting name="LastImageFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="DisabledImageCollections" serializeAs="Xml">
                <value/>
            </setting>
        </SIL.Windows.Forms.ImageToolbox.ImageToolboxSettings>
        <SIL.Windows.Forms.Progress.LogBoxSettings>
            <setting name="FontName" serializeAs="String">
                <value/>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>0</value>
            </setting>
        </SIL.Windows.Forms.Progress.LogBoxSettings>
        <SIL.Windows.Forms.SettingProtection.SettingsProtectionSettings>
            <setting name="RequirePassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NormallyHidden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NeedUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
        </SIL.Windows.Forms.SettingProtection.SettingsProtectionSettings>
        <SIL.Windows.Forms.Registration.Registration>
            <setting name="FirstName" serializeAs="String">
                <value/>
            </setting>
            <setting name="Surname" serializeAs="String">
                <value/>
            </setting>
            <setting name="Email" serializeAs="String">
                <value/>
            </setting>
            <setting name="Organization" serializeAs="String">
                <value/>
            </setting>
            <setting name="HowUsing" serializeAs="String">
                <value/>
            </setting>
            <setting name="LaunchCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NeedUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
        </SIL.Windows.Forms.Registration.Registration>
    </userSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
</configuration>
