<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<dllmap dll="libxklavier" target="libxklavier.so.16" />
	<!-- Even explicit .so references need a mapping for versioning. -->
	<!-- (The unversioned links are part of -dev packages usually. -->
	<dllmap dll="libgio-2.0.so" target="libgio-2.0.so.0" />
	<dllmap dll="libglib-2.0.so" target="libglib-2.0.so.0" />
	<dllmap dll="libgobject-2.0.so" target="libgobject-2.0.so.0" />
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
