<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ibusdotnet" version="2.0.0.20771" targetFramework="net40" />
  <package id="icu.net" version="2.5.2" targetFramework="net461" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.0.4" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.0.4" targetFramework="net461" />
  <package id="NDesk.DBus" version="0.15.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>