<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Palaso.Services.Dictionary.SampleClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<Palaso.Services.Dictionary.SampleClient.Properties.Settings>
			<setting name="WritingSystemIdForDefinitions" serializeAs="String">
				<value>en</value>
			</setting>
			<setting name="WritingSystemIdForWords" serializeAs="String">
				<value>xgs</value>
			</setting>
			<setting name="PathToDictionary" serializeAs="String">
				<value>E:\Users\John\Documents\WeSay\NooSupu\noosupu.lift</value>
			</setting>
			<setting name="PathToApplication" serializeAs="String">
				<value>c:\wesay\output\debug\wesay.app.exe</value>
			</setting>
		</Palaso.Services.Dictionary.SampleClient.Properties.Settings>
	</userSettings>
</configuration>