Source: libpalaso-cil
Section: libs
Priority: optional
Maintainer: Martin Hosken <mhosken@sil.org>
Build-Depends: debhelper (>=5), mono-gmcs, nant, mono-gac, libmono-nunit2.2-cil, libmono1.0-cil, libmono2.0-cil, libmono-winforms2.0-cil, libmono-system-runtime2.0-cil, wget
Standards-Version: 3.7.3

Package: libpalaso-cil
Section: libs
Architecture: any
Depends: libmono-corlib2.0-cil (>= 2.0), libmono-system2.0-cil (>=2.0), libicu40
Description: mono/.net wrapper for ICU 4.0 and later
 libicu-cil is a mono/.net library to allow interaction with the
 ICU library.
