<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Palaso.Reporting.ErrorReportSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="Palaso.Progress.LogBoxSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="Palaso.Progress.LogBox" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="Palaso.Reporting.UsageMemory" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<Palaso.Reporting.ErrorReportSettings>
			<setting name="ReportingMethod" serializeAs="String">
				<value>mapiWithPopup</value>
			</setting>
			<setting name="AnalyticsCookie" serializeAs="String">
				<value/>
			</setting>
		</Palaso.Reporting.ErrorReportSettings>
		<Palaso.Progress.LogBoxSettings>
			<setting name="FontName" serializeAs="String">
				<value/>
			</setting>
			<setting name="FontSize" serializeAs="String">
				<value>0</value>
			</setting>
		</Palaso.Progress.LogBoxSettings>
		<Palaso.Progress.LogBox>
			<setting name="FontName" serializeAs="String">
				<value/>
			</setting>
		</Palaso.Progress.LogBox>
		<Palaso.Reporting.UsageMemory>
			<setting name="Launches" serializeAs="String">
				<value>0</value>
			</setting>
		</Palaso.Reporting.UsageMemory>
	</userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
