<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Palaso.Reporting.ErrorReportSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="Palaso.Progress.LogBoxSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="Palaso.Progress.LogBox" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="Palaso.Reporting.UsageMemory" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Palaso.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<Palaso.Reporting.ErrorReportSettings>
			<setting name="ReportingMethod" serializeAs="String">
				<value>mapiWithPopup</value>
			</setting>
			<setting name="AnalyticsCookie" serializeAs="String">
				<value/>
			</setting>
		</Palaso.Reporting.ErrorReportSettings>
		<Palaso.Progress.LogBoxSettings>
			<setting name="FontName" serializeAs="String">
				<value/>
			</setting>
			<setting name="FontSize" serializeAs="String">
				<value>0</value>
			</setting>
		</Palaso.Progress.LogBoxSettings>
		<Palaso.Progress.LogBox>
			<setting name="FontName" serializeAs="String">
				<value/>
			</setting>
		</Palaso.Progress.LogBox>
		<Palaso.Reporting.UsageMemory>
			<setting name="Launches" serializeAs="String">
				<value>0</value>
			</setting>
		</Palaso.Reporting.UsageMemory>
	</userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup><applicationSettings>
		<Palaso.Properties.Settings>
			<setting name="AudioFileExtensions" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
						xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>.mp3</string>
						<string>.wav</string>
						<string>.wma</string>
						<string>.acc</string>
						<string>.ogg</string>
						<string>.flac</string>
					</ArrayOfString>
				</value>
			</setting>
			<setting name="VideoFileExtensions" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
						xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>.wmv</string>
						<string>.avi</string>
						<string>.mpg</string>
						<string>.mpeg</string>
						<string>.mpa</string>
						<string>.asf</string>
						<string>.mov</string>
						<string>.mp4</string>
						<string>.mts</string>
						<string>.m4v</string>
						<string>.m2v</string>
					</ArrayOfString>
				</value>
			</setting>
			<setting name="TextFileExtensions" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
						xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>.txt</string>
						<string>.doc</string>
						<string>.docx</string>
						<string>.odt</string>
						<string>.rtf</string>
						<string>.htm</string>
						<string>.html</string>
						<string>.pdf</string>
					</ArrayOfString>
				</value>
			</setting>
			<setting name="ImageFileExtensions" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
						xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>.jpg</string>
						<string>.jpeg</string>
						<string>.gif</string>
						<string>.tif</string>
						<string>.png</string>
						<string>.bmp</string>
						<string>.dib</string>
					</ArrayOfString>
				</value>
			</setting>
		</Palaso.Properties.Settings>
	</applicationSettings>
</configuration>
