
name: Package latest l10ns

on:
  push:
    tags: [ v* ]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-package-l10ns
  cancel-in-progress: true

jobs:

  package-l10n:
    strategy:
      fail-fast: false
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0
      with:
        fetch-depth: 0

    # Install the .NET Core workload
    - name: Install .NET Core
      uses: actions/setup-dotnet@6bd8b7f7774af54e05809fcc5431931b3eb1ddee # v4.0.1
      with:
        dotnet-version: 8.x

    # Add  MSBuild to the PATH: https://github.com/microsoft/setup-msbuild
    - name: Setup MSBuild.exe (Windows OS)
      uses: microsoft/setup-msbuild@1ff57057b5cfdc39105cd07a01d78e9b0ea0c14c # v1.3.1
      env:
        ACTIONS_ALLOW_UNSECURE_COMMANDS: true # So the PATH can be set by this step

    - name: Install Crowdin cli
      run: npm i -g @crowdin/cli

    - name: Download localizations
      working-directory: ./l10n
      run: crowdin download --all -T ${{ secrets.CROWDIN_PAT }}

    - name: Restore packages
      run: msbuild l10n/l10n.proj /t:restore /p:Configuration=Release /p:Platform="Any CPU"

    - name: Build Nuget package of localizations
      env:
        ACTIONS_ALLOW_UNSECURE_COMMANDS: true # So gitversion can set environment vars during the build
      run: msbuild l10n/l10n.proj /t:PackageL10ns /p:Configuration=Release /p:Platform="Any CPU"

    - name: Publish Nuget package
      working-directory: ./l10n
      run: dotnet nuget push *.nupkg --api-key ${{ secrets.SILLSDEV_PUBLISH_NUGET_ORG }} --source https://api.nuget.org/v3/index.json