.Allomorphs
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.AnthropologyCategories
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.AnthropologyNote
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.AudioFile
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.AudioFileLabel
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.Bibliography
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.BibliographySense
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.CitationForm
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.ComplexFormComments
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.ComplexForms
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.ComplexTypes
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.Components
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.Country
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.CVPattern
{
font-family: "Doulos SIL";
font-size: 108.33%; /* 13pt */
}
.CVPatternfromsource
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.DataSource
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.DataSourcePath
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.DateCreated
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.DateModified
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.Definition
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.Dialect
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.DiscourseNote
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.DomainTypes
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.EncyclopedicInfo
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.EthnologueId
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.Etymology
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.ExcludeAsHeadword
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.Family
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.FreeTranslation
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.GeneralNote
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.Gloss
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.GlossOther
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.GlossSecondary
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.GrammarNote
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.ImportResidue
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.ImportResidueSense
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.LanguageName
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.LiteralMeaning
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.Location
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.MorphemeType
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.Note
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.NoteBookRef
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.Orthographic
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.PartofSpeech
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.Phonemic
{
font-family: "Doulos SIL";
font-size: 108.33%; /* 13pt */
}
.Phonetic
{
font-family: "Doulos SIL";
font-size: 108.33%; /* 13pt */
}
.PhonologyNote
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.Reference
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.Region
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.Restrictions
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.RestrictionsSense
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.ReversalEntries
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.Description
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.ScientificName
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.SemanticDomains
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.SemanticsNote
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.SenseType
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.SociolinguisticsNote
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.Source
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.SpeakerGender
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.SpeakerName
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.Status
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.SummaryDefinition
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.Tone
{
font-family: "Doulos SIL";
font-size: 108.33%; /* 13pt */
}
.Transcriber
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.Usages
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.VariantComments
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.Variants
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
.VariantTypes
{
font-family: "Segoe UI";
font-size: 75.00%; /* 9pt */
}
